#title {
    text-align: center;
    font-size: 50px;
}

#image {
    max-width: 500px;
    max-height: auto;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    justify-content: center;
}

figcaption {
    display: block;
    text-align: center;
    font-size: 20px;
    margin-top: -10px;
    font-style: italic;
}

#tribute-info {
    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}

ul > li {
    list-style-type: disc;
    font-size: 17px;
}

.indent {
    margin-top: 20px;
    margin-left: 2.5em;
}