* {
    font-family: Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.main-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
    border-radius: 10px;
}

#title {
    width: 90%;
    text-align: center;
    font-size: 40px;
    padding: 10px;
}

#img-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#image {
    max-width: 100%;
    max-height: auto;
}


figcaption {
    display: block;
    text-align: center;
    font-size: 20px;
    margin-top: -10px;
    font-style: italic;
    padding: 15px;
}

#tribute-info {
    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px;
}

.container {
    width: 98%;
    max-width: 1000px;
}

ul {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0;
}

ul > li {
    list-style-type: disc;
    font-size: 17px;
    text-align: justify;
    padding-bottom: 16px;
}

.indent {
    margin-top: 10px;
    margin-left: 1em;
}

a {
    text-decoration: none;
    font-weight: 800;
}

a:hover {
    color: #000000;
}

a:active {
    color: #ff0000;
}

a:visited {
    color: #861c1c;
}