#title {
    text-align: center;
    font-size: 50px;
}

#image {
    max-width: ;
    max-height: ;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    justify-content: center;
}

figcaption {
    display: block;
    text-align: center;
    font-size: 20px;
    margin-top: -10px;
    font-style: italic;
}

ul > li {
    list-style-type: disc;
}